<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<route url="/" module="User" action="showResume" />

	<route url="/login" module="Login" action="login" />
	<route url="/logout/([0-9]+)/([a-z0-9]+)" module="Login" action="logout" vars="id,csrf_token" />
	<route url="/register" module="Register" action="register" />
 	
 	<route url="/film" module="Film" action="filmsGenre" />
 	<route url="/film/genre/([0-9]+)" module="Film" action="filmsGenre" vars="genreid" />
 	<route url="/film/search" module="Film" action="search" />
 	<route url="/film/([0-9]+)" module="Film" action="show" vars="id" />
 	<route url="/film/searchAllocine/(.*)" module="Film" action="searchAllocine" vars="keyword" />
 	<route url="/film/searchAllocine" module="Film" action="searchAllocine" />
 	<route url="/film/add/([0-9]+)" module="Film" action="add" vars="id" />
 	<route url="/film/([0-9]+)/maj/affiche" module="Film" action="majAffiche" vars="id" />
 	<route url="/film/([0-9]+)/maj" module="Film" action="majFiche" vars="id" />

 	<route url="/film/([0-9]+)/addBiblio/([a-z]+)" module="Film" action="addBiblio" vars="id,type" />
 	<route url="/film/([0-9]+)/delBiblio/([a-z]+)" module="Film" action="delBiblio" vars="id,type" />
 	<route url="/film/([0-9]+)/addView" module="Film" action="addView" vars="id" />
 	<route url="/film/([0-9]+)/delView/([0-9]+)" module="Film" action="delView" vars="id,viewid" />
 	<route url="/film/([0-9]+)/addWish/([a-z]+)" module="Film" action="addWish" vars="id,type" />
 	<route url="/film/([0-9]+)/delWish/([a-z]+)" module="Film" action="delWish" vars="id,type" />
	<route url="/film/([0-9]+)/rate/([0-9]+)" module="Film" action="rate" vars="id,rate" />

 	<route url="/user/([0-9]+)" module="User" action="showResume" vars="id" />
 	<route url="/user/([0-9]+)/edit" module="User" action="edit" vars="id" />
  	<route url="/user/([0-9]+)/lastview/([a-z]+)" module="User" action="lastview" vars="id,type" />
 	<route url="/user/([0-9]+)/lastview" module="User" action="lastview" vars="id" />	
 	<route url="/user/([0-9]+)/wishlist" module="User" action="wishlist" vars="id" />
 	<route url="/user/([0-9]+)/towatchlist" module="User" action="towatchlist" vars="id" />
 	<route url="/user/([0-9]+)/towatchlist/([a-z]+)" module="User" action="towatchlist" vars="id,type" />
 	<route url="/user/([0-9]+)/biblio" module="User" action="showBiblio" vars="id" />
 	<route url="/user/([0-9]+)/biblio/genre/([0-9]+)" module="User" action="showBiblio" vars="id,genreid" />
 	<route url="/user/([0-9]+)/stats" module="User" action="showStats" vars="id" />
 	<route url="/user/([0-9]+)/stats/([a-z]+)" module="User" action="showStats" vars="id,type" />

 	<route url="/friend" module="Friend" action="index" />
 	<route url="/friend/search" module="Friend" action="search" />
 	<route url="/friend/add/([0-9]+)" module="Friend" action="add" vars="id" />
 	<route url="/friend/del/([0-9]+)" module="Friend" action="del" vars="id" />

 	<route url="/person/([0-9]+)" module="Person" action="showFilms" vars="id" />

	<route url="/ticket" module="Ticket" action="showList" />
	<route url="/ticket/add" module="Ticket" action="addTicket" />
	<route url="/ticket/add/post" module="Ticket" action="addTicketPost" />
	<route url="/ticket/([0-9]+)" module="Ticket" action="showTicket" vars="id" />
	<route url="/ticket/([0-9]+)/status" module="Ticket" action="editStatus" vars="id" />

	<route url="/ticket/([0-9]+)/comment" module="Comment" action="addComment" vars="id" />
	<route url="/ticket/([0-9]+)/comment/([0-9]+)/edit" module="Comment" action="editComment" vars="tid,id" />

 	<route url="/about" module="About" action="index" />
</routes>
