<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<route url="/" module="User" action="showResume" />

	<route url="/login" module="User" action="login" />
	<route url="/register" module="Register" action="register" />
 	
 	<route url="/film" module="Film" action="filmsGenre" />
 	<route url="/film/genre/([0-9]+)" module="Film" action="filmsGenre" vars="genreid" />
 	<route url="/film/search" module="Film" action="search" />
 	<route url="/film/([0-9]+)" module="Film" action="show" vars="id" />
 	<route url="/film/searchAllocine/(.*)" module="Film" action="searchAllocine" vars="keyword" />
 	<route url="/film/searchAllocine" module="Film" action="searchAllocine" />
 	<route url="/film/add/([0-9]+)" module="Film" action="add" vars="id" />

 	<route url="/film/([0-9]+)/addBiblio/([a-z]+)" module="Film" action="addBiblio" vars="id,type" />
 	<route url="/film/([0-9]+)/delBiblio/([a-z]+)" module="Film" action="delBiblio" vars="id,type" />
 	<route url="/film/([0-9]+)/addView" module="Film" action="addView" vars="id" />

 	<route url="/user/([0-9]+)" module="User" action="showResume" vars="id" />
 	<route url="/user/([0-9]+)/lastview/([a-z]+)" module="User" action="lastview" vars="id,type" />
 	<route url="/user/([0-9]+)/lastview" module="User" action="lastview" vars="id" />

 	<route url="/person/([0-9]+)" module="Person" action="showFilms" vars="id" />

 	<route url="/about" module="About" action="index" />
</routes>
