<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<route url="/" module="Index" action="index" />
 	
 	<route url="/film" module="Film" action="index" />
 	<route url="/film/add/([0-9]+)" module="Film" action="add" vars="id" />
 	<route url="/film/add" module="Film" action="searchAllocine" />
 	<route url="/film/([0-9]+)" module="Film" action="show" vars="id" />
 	<route url="/film/([0-9]+)/([a-zA-Z0-9_]+)" module="Film" action="show" vars="id,name" />

 	<route url="/about" module="About" action="index" />
</routes>